body{
	width: 85%;
	margin:0 auto;
	min-width: 1245px;
}

/*logo及功能区开始*/

/*logo*/
header #logo,#academy,#function{
	float: left;
	width: 33.33%;
	height: 100px;
	position: relative;
}
header #headerTop{
	height: 100px;
}
header #logo{
	width: 27.68%;
	margin-right: 1%;
}
header #academy{
	width: 37.68%;
	font-size: 28px;
	font-family:楷体,宋体;
	color:#5059BA;
}
header #academy h1{
	margin-top:8%;
}
/*logo*/

/*功能区*/
header #functionList,#functionSearch{
	width: 60%;
	height: 50%;
	position: absolute;
}
header #functionList{
	right:0;
	top:0;
}
header #functionSearch{
	right:0;
	top:60%;
}
header #function ul{
	/*color:#0000ff;*/
	/*padding-left: 3.5%;*/
	padding-left: 0;
}
header #functionList ul li{
	/*list-style-type: disc;*/
	font-size: 16px;
	float: left;
	margin:3% 10% 0 0;
	display: inline-block;
}
header #functionList li a{
	color:#0000ff;
	font-family: 微软雅黑;
}
header #functionList li a:hover{
	text-decoration: none;
	color:#000000;
}
/*功能区*/

/*搜索栏*/
header #functionSearch input[type=text]{
	width: 70%;
}
header #functionSearch input[type=submit]{
	background: #44cef6;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#ffffff;
}
/*搜索栏*/
/*logo及功能区结束*/

/*导航栏开始*/
#headerFoot nav{
	border:2px solid #ADA0A0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	width: 98%;
	height: 40px;
	background:rgba(43,130,233,0.7);
}
#headerFoot nav a{
	color:#110707;
}
#headerFoot nav a:hover{
	text-decoration: none;
	color:#ffffff;
}

/*服务*/
#service{
	width: 30%;
	font-size: 14px;
	font-family: 微软雅黑;
	float: left;
}
#service ul{
	margin:3% 0;
}
#service ul li{
	float: left;
	margin:0 1% 0 0;
}
#service ul li:first-child{
	padding-right: 1.5%;
	border-right: 1px solid #ADA0A0;
}
/*服务*/

/*方向*/
#direction{
	width: 70%;
	float: left;
}
#direction ul li{
	width: 10.5%;
	float: left;
	margin-right: 2%;
	/*text-align: center;*/
	position: relative;
}
#direction ul li ul{
	margin-top: 11%;
	padding: 0;
	position: absolute;
	/*width: 100%;*/

}
#direction ul li ul li{
	z-index: 100;
	height: 25px;
	width: 100%;
	/*text-align: left;*/
	display: none;
	background: rgba(43,130,233,0.4);
}
/*方向*/
/*导航栏结束*/

/*内容区开始*/

/*侧边栏*/
#content{
	margin-top:2%;
}
#content #sidebar{
	width: 15%;
	border:1px solid #ADA0A0;;
	float: left;
	height: 240px;
	margin-bottom: 40px;
}
.hotTech h1{
	width: 80%;
	margin:10px auto 20px;
	background: #3F95DC;
	text-align: center;
	height: 30px;
	font-size: 20px;
	font-weight: normal;
	font-family: 楷体;
	border-radius: 8px;
}
.hotTech ul li{
	width: 70%;
}
.hotTech ul li .tag{
	width: 16px;
	height: 16px;
	background: url("../images/point.png") no-repeat;
	float: left;
	/*position: absolute;*/
	margin-top: 5px;
}
.hotTech ul li a{
	margin-left: 10%;
	color:#0000ff;
	font-size: 16px;
}
.hotTech ul li a:hover{
	text-decoration: none;
}


/*侧边栏*/

/*横幅*/
.banner{
	border:1px solid black;
	width: 78%;
	height: 240px;
	float: left;
	margin-left:5%;
	position:relative;
	overflow: hidden;
}
.banner .description{
	z-index: 100;
	opacity: 0.8;
	position:absolute;
	display: none;
	font-size: 20px;
	color:#000000;
	margin:0;
}
.banner img{
	position: absolute;
	width: 50%;
	height: 100%;
}
img.banner1{background: #F45D5D;left:-25%;top:0;}
img.banner2{background: #665050;left:25%;top:0;}
img.banner3{background: #270D0D;left:75%;top:0;}
img.banner4{background: #3C8917;left:125%;top:0;}
img.banner5{background: #1538EC;left:175%;top:0;}
img.banner6{background: #FF0052;left:225%;top:0;}
/*横幅*/

/*技术区域*/
#main{
	width: 98%;
	/*border:1px solid black;*/
	clear:both;
}
#main .section{
	width: 100%;
	margin-bottom: 40px;
}

/*通用*/
.section h2{
	font-size: 16px;
	font-weight: normal;
	font-family: 微软雅黑;
	margin-bottom: 25px;
}
.section p:first-child a{
	font-size: 14px;
	color:#000000;
}
.section p a{
	font-size: 12px;
	color:#C1B8B8;
}
.section a:hover{
	text-decoration: none;
	/*color:#000000;*/
}

.clear{
	clear:both;
}
/*通用*/

/*区域1和2*/
.sec1 li,.sec2 li{
	width: 17.5%;
	float: left;
	margin-right: 2%;
	/*background: #7A8EDE;*/
	border:1px solid #EBE6E6;
	border-radius: 10px 10px 0 0;
}
.sec1 li>a,.sec2 li>a{
	border-radius: 10px 10px 0 0;
	height: 30px;
	display: block;
	width: 100%;
	text-align: center;
	background: #30BFD9;
	font-size: 18px;
	color:#ffffff;
}
.sec1 a.phython{background: url("../images/phython_bg.jpg");}
.sec1 a.php{background: url("../images/PHP_bg.png");}
.sec1 a.vue{background: url("../images/vuejs_bg.jpg")}
.sec1 a.c{background: url("../images/c++_bg.jpg");}
.sec1 a.mysql{background: url("../images/mysql_bg.jpeg");}
.sec2 a.htmlcss{background: url("../images/html_bg.jpg");}
.sec2 a.js{background: url("../images/js_bg.png");}
.sec2 a.java{background: url("../images/java_bg.jpg");}
.sec2 a.reactjs{background: url("../images/react_bg.jpg");}
.sec2 a.android{background: url("../images/android_bg.jpg");}
.section li div{
	width: 100%;
	height: 182px;
	background:#FBFBFB;
	padding-top: 15px;
}
.sec1 ul li p,.sec2 ul li p{
	width: 80%;
	margin:8px auto 18px;
}
/*区域1和2*/

/*区域3-8*/
.career{
	width: 14.8%;
	margin:0 2% 0 40px;
	border-radius: 8px;
	text-align: left;
	color:#ffffff;
	cursor: pointer;
	padding: 0 10px 0 15px;
	float: left;
}
.sec3 .career{background: url("../images/career1_bg.jpg");}
.sec4 .career{background: url("../images/career3_bg.jpg");}
.sec5 .career{background: url("../images/career2_bg.jpg");}
.sec6 .career{background: url("../images/career4_bg.jpg");}
.sec7 .career{background: url("../images/career5_bg.jpg");}
.sec8 .career{background: url("../images/career6_bg.jpg");}
.career span{

	margin:16px 0 4px 0;
	float: left;
	width: 32px;
	height: 32px;
	background: url("../images/career_logo.png");
	/*margin-left:40px;*/
}
.career h3{
	line-height: 32px;
	width: 70.285%;
	font-size: 16px;
	/*color:#ffffff;*/
	/*text-align: left;*/
	float: left;
	margin-bottom: 4px;
	/*padding-left: 32px;*/
}
.career p{
	clear:both;
	width: 91%;
	margin:0 auto;
	font-family: 微软雅黑;
}
.career p.main{
	margin-top:0;
	font-size: 19px;
	/*height: 60px;*/
	/*color:black;*/
}
.sec3 .career p.detail,.sec5 .career p.detail{
	margin-top: 30px;
	font-size:13px;
	height: 150px;
}
.sec4 .career p.detail,.sec7 .career p.detail,.sec8 .career p.detail{
	margin-top: 30px;
	font-size:13px;
	height: 90px;
}
.sec6 .career p.detail{
	margin-top: 30px;
	font-size: 13px;
	height:60px;
}
.sec3 .career p.sub,.sec5 .career p.sub{
	height: 68px;
	border-top:1px solid #EFEAEA;
}
.sec3 .career p.sub a,.sec5 .career p.sub a{
	font-size: 12px;
	margin-top: 18px;
	display: block;
	color:#ffffff;
	z-index: 100;
}
.course{
	float: left;
	width: 72.7%;
	/*border:1px solid black;*/
}
.course ul{
	margin-top: 0;
	padding-left: 0;
}
.sec3 .course ul:first-child li,.sec5 .course ul:first-child li{
	border-radius:5px;
	float: left;
	width:48.5%;
	height: 100px;
}
.sec3 .course ul:first-child li:first-child{background: url("../images/angular_bg.jpg");margin-right:3%;}
.sec3 .course ul:first-child li:last-child{background: url("../images/wechatApp_bg.jpg");}
.sec5 .course ul:first-child li:first-child{background: url("../images/androidApp1_bg.jpg");margin-right: 3%;}
.sec5 .course ul:first-child li:last-child{background: url("../images/androidApp2_bg.jpg");}
.course ul:last-child li{
	margin-top:30px;
	width: 22.75%;
	float: left;
}
.sec4 .course ul:last-child li,.sec6 .course ul:last-child li,.sec7 .course ul:last-child li,.sec8 .course ul:last-child li{
	margin-top:0;
}
.course ul:last-child li:not(:last-child){margin-right: 3%}
.course ul:last-child li>a{
	border-radius: 5px 5px 0 0;
	height: 30px;
	display: block;
	width: 100%;
	text-align: center;
	/*background: #30BFD9;*/
	font-size: 18px;
	color:#ffffff;
}
.course ul:last-child li p{
	width: 80%;
	margin:8px auto 18px;
}
.course a.javascript1{background: url("../images/javascript1_bg.jpg");}
.course a.javascript2{background: url("../images/javascript2_bg.jpg");}
.course a.jquery{background: url("../images/jquery_bg.jpg");}
.course a.javascriptcss{background: url("../images/javascriptcss_bg.jpg");}
.course a.android1{background:url("../images/android1_bg.jpg");}
.course a.android2{background:url("../images/android2_bg.jpg");}
.course a.android3{background:url("../images/android3_bg.jpg");}
.course a.android4{background:url("../images/android4_bg.jpg");}
.course a.php1{background: url("../images/php1_bg.jpg");}
.course a.php2{background: url("../images/php2_bg.jpg");}
.course a.php3{background: url("../images/php3_bg.jpg");}
.course a.php4{background: url("../images/php4_bg.jpg");}
.course a.ios1{background: url("../images/ios1_bg.jpg");}
.course a.ios2{background: url("../images/ios2_bg.jpg");}
.course a.ios3{background: url("../images/ios3_bg.jpg");}
.course a.ios4{background: url("../images/ios4_bg.jpg");}
.course a.java1{background: url("../images/java1_bg.jpg");}
.course a.java2{background: url("../images/java2_bg.jpg");}
.course a.java3{background: url("../images/java3_bg.jpg");}
.course a.java4{background: url("../images/java4_bg.jpg");}
.course a.python1{background: url("../images/python1_bg.jpg");}
.course a.python2{background: url("../images/python2_bg.jpg");}
.course a.python3{background: url("../images/python3_bg.jpg");}
.course a.python4{background: url("../images/python4_bg.jpg");}

/*技术区域*/

/*建议区域*/
.recommand{
	max-width: 1283px;
	margin:0 auto;
}
.recommand div{
	width: 48.5%;
	float: left;
	margin-top:30px;	
}
.recommand .notes{
	margin-right: 2%;
}
.recommand h2{
	font-size: 16px;
	font-weight: normal;
	font-family: 微软雅黑;
	margin-bottom: 25px;
}
.recommand>div>a{
	margin-left:6.319%;
	height: 60px;
	width: 87.3%;
	border-radius: 8px 8px 0 0;
	display: block;
	color:white;
	font-weight: bold;
	/*text-align: center;*/
	font-size: 20px;
	/*line-height: 30px;*/
	padding:40px 0 0 40px;
}
.notes>a{background: url("../images/note_bg.jpg");}
.question>a{background: url("../images/question_bg.jpg");}

.recommand ul{
	height: 220px;
	border:1px solid #EFE7E7;
	padding:16px 0 0 0 ;
	margin:0 0 0 40px;
	background: #fff;
	border-bottom: none;
}
.recommand ul li{
	margin-bottom:16px;
	padding-left: 40px;
}
.recommand ul li a{
	font-family: 微软雅黑;
	font-size: 14px;
	color:#000000;
}
.recommand i{
	margin:0 10px;
	font-weight: bold;
}
.recommand li a:first-child{
	border:1px solid #F0E0E0;
	border-radius:15px;
	width: 10%;
	/*margin-right: 10px;*/
	padding:5px 10px;
}
.recommand div div{
	border:1px solid #efe7e7;
	border-top:none;
	border-radius:0 0 8px 8px;
	margin:0 0 0 40px;
	width: 93.3%;
	text-align: right;
}
.recommand div div a{
	font-size: 16px;
	font-family: 微软雅黑;
	color:#C0BEBE;
	display: inline-block;
	margin:5px 0 12px 0;
}
/*建议区域*/

/*内容区结束*/

/*尾部开始*/
footer{
	width: 100%;
	height: 200px;
	margin-top: 100px;
}
footer .follow{
	/*text-align: center;*/
	padding: 20px 0 0 43%;
}
footer .follow a{
	width: 32px;
	height: 32px;
	margin: 0 11px;
	display: inline-block;
	opacity: 0.5;
}
footer .contact{
	padding: 25px 0 25px 37.2%;
	margin:0 auto;
	/*text-align: center;*/
	border-bottom: 1px solid #d0d6d9;
}
footer .contact a{
	font-size: 13px;
	color:#ACACAC;
	margin:0 10px;
}
footer .copyright{
	padding-top: 20px;
	text-align: center;
	color:#acacac;
}
footer .follow a.microblog{background: url("../images/microblog.png")}
footer .follow a.wechat{background: url("../images/wechat.png")}
footer .follow a.twitter{background: url("../images/twitter.png")}
footer .follow a.facebook{background: url("../images/facebook.png")}
/*尾部结束*/